*{margin: 0; 
    padding: 0;
}
body{background-color:cadetblue;
}

h1 {color:chartreuse;
font: size 10px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align:center;
background-color:black;
padding: 15px ;
margin: 10px ;
border:5px solid white;
border-radius:10px;
}

p{font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    text-align:justify;
    margin: 20px   
   
}

h2 {color:white;
    font: size 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    background-color: rgb(156, 117, 32);
    padding: 15px ;
    margin: 10px ;
    border:5px solid black;
    border-top-left-radius:10px;
    }
    
    p{font-family:'Times New Roman', Times, serif, Helvetica, sans-serif;
        font-size:30px;
        text-align:justify;
        margin: 20px 
    }